@media (max-width: 768px) {
    h2 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  
    .card {
      width: 100px;
      margin-bottom: 1rem;
    }
  
    .card-img-top {
      height: 100%;
    }
  }