/* .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .image-container {
    width: 50%;
  }
  
  .image-container img {
    width: 600px;
    height: auto;
  }
  
  .content-container {
    width: 50%;
    padding: 20px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Responsive Styles */
  
  /* Extra small devices (phones) */
  /* @media (max-width: 575.98px) {
    .carousel-container {
      flex-direction: column;
    }
  
    .image-container,
    .content-container {
      width: 100%;
    }
  }
  
  /* Small devices (portrait tablets and small desktops) */
  /* @media (min-width: 576px) and (max-width: 767.98px) {
    .image-container,
    .content-container {
      width: 100%;
    }
  }
  
  /* Medium devices (landscape tablets and medium desktops) */
  /* @media (min-width: 768px) and (max-width: 991.98px) {
    .carousel-container {
      flex-direction: column;
    } */
  
    /* .image-container,
    .content-container {
      width: 100%;
    }
  } */ 
  
  /* Large devices (large desktops) */
  /* @media (min-width: 992px) {
    .carousel-container {
      flex-direction: row;
    }
  
    .image-container,
    .content-container {
      width: 50%;
    }
  }
   */ 

   .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .image-container {
    width: 50%;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    max-width: 600px;
  }
  
  .content-container {
    width: 50%;
    padding: 20px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
    width: 4rem;
  }
  
  /* Responsive Styles */
  
  /* Extra small devices (phones) */
  @media (max-width: 575.98px) {
    .carousel-container {
      flex-direction: column;
    }
  
    .image-container,
    .content-container {
      width: 100%;
    }
  
    .image-container img {
      max-width: 100%;
    }
  }
  
  /* Small devices (portrait tablets and small desktops) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .image-container,
    .content-container {
      width: 100%;
    }
  
    .image-container img {
      max-width: 100%;
    }
  }
  
  /* Medium devices (landscape tablets and medium desktops) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .carousel-container {
      flex-direction: column;
    }
  
    .image-container,
    .content-container {
      width: 100%;
    }
  
    .image-container img {
      max-width: 100%;
    }
  }
  
  /* Large devices (large desktops) */
  @media (min-width: 992px) {
    .carousel-container {
      flex-direction: row;
    }
  
    .image-container,
    .content-container {
      width: 50%;
    }
  
    .image-container img {
      max-width: 600px;
    }
  }
  